@use "global" as *;

.common-btn {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: rem(14);
    font-weight: $regular;
    color: $base;
    width: rem(202);
    background: $black;
    line-height: 1;
    padding: rem(17) rem(86) rem(17) rem(40);
    box-shadow: rem(4) rem(4) $black;
    outline: rem(4) solid $base;
    border: rem(1) solid $black;
}

.common-btn::before{
    content: '';
    /*絶対配置で下線の位置を決める*/
    position: absolute;
    bottom: 48%;
    right: 20%;
    /*下線の形状*/    
    width: 20%;
    height: rem(1);
    background: $base;
    // /*アニメーションの指定*/
    // transition: all .3s;
}

.common-btn::after{
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    bottom: 54%;
    right: 20%;
    /*矢印の形状*/    
    width: 5%;
    height: rem(1);
    background: $base;
    transform: rotate(35deg);
    // /*アニメーションの指定*/
    // transition: all .3s;
}

.common-btn.common-btn--contact {
    padding: rem(17) rem(86) rem(17) rem(30);
}

