@use "global" as *;

.footer-nav__body {
    display: flex;

    // grid-template-columns: repeat(2,1fr);
    // grid-template-rows: repeat(2,1fr);
    @include mq("md") {
        // width: rem(1440);
        gap: rem(120);
        // grid-template-columns: repeat(4,1fr);
    }
}

.footer-nav__left {
    @include mq("md") {
        display: flex;
        gap: rem(120);
    }
}

.footer-nav__right {
    margin-left: rem(13);
    @include mq("md") {
        display: flex;
        gap: rem(120);
    }
}

.footer-nav__item-indent {
    @include mq("md") {
        display: none;
    }
}

.footer-nav__item a {
    @include mq("md") {
        white-space: nowrap;
    }

}

.footer-nav.is-active {
    transform: translateX(0);
}

// .sp-nav__item {
//     white-space: nowrap;
// } 

// .sp-nav__item a:nth-child(1) {
//     padding-top: rem(104);
// }

.footer-nav__item:first-child a {
    font-weight: $bold;
    padding-top: rem(36);
    @include mq("md") {
        padding-top: rem(0);
    }
}

.footer-nav__item:not(:first-child) a {
    padding-left: rem(21);
    padding-top: rem(17);
}

.footer-nav__item:nth-child(even) a {
    @include mq("md") {
        margin-top: rem(40);
    }
}

.footer-nav__item-indent {
    margin-left: rem(-5);
}

.footer-nav__item img {
    width: rem(18);
    height: rem(18);
}

.footer-nav__item-logo {
    content: url(../../assets/images/common/hitode.png);
    width: rem(18);
    height: rem(18);
    margin-right: rem(4);
}

// .sp-nav__items {
//     padding-top: rem(80);
//     padding-bottom: rem(200);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     overflow: scroll;
//     overscroll-behavior: none;
// }

// .sp-nav__logo::before {
//     // content: url(../../assets/images/common/hitode.png);
//     width: rem(18);
//     height: rem(18);
// }

.footer-nav__item a {
    display: block;
    width: 100%;
    // padding-top: rem(15);
    // padding-bottom: rem(15);
    // text-align: center;
    color: $base;
    font-weight: $regular;
    font-size: rem(16);
}

.footer-nav__copyright {
    font-size: rem(14);
    line-height: calc(18 / 12);
    font-weight: $regular;
    margin-top: rem(40);
    text-align: center;
    @include mq("md") {
        font-size: rem(14);
        line-height: calc(18 / 14);
        margin-top: rem(80);
    }
}

/* アニメーション前のメニューの状態 */
.sp-nav{
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .sp-nav.is-active{
    pointer-events: auto;
    opacity: 1;
  }

 .sp-nav__scroll-container {
     /* メニュー内コンテナの高さを100vhに設定 */
      height: 100vh;
     /* スクロール可能にする */
     overflow-y: auto;
     /* オーバースクロールの挙動を無効にする（お好みで） */
     overscroll-behavior: none;
   }

