@use "global" as *;

.section-header__maintitle {
    font-weight: $regular;
    color: $blue;
    font-size: rem(32);
    line-height: 1;
    text-align: center;
    @include mq("md") {
        font-size: rem(40);
    }
}

.section-header__maintitle span {
    color: $black;
}

.section-header__subtitle {
    font-weight: $regular;
    color: $black;
    font-size: rem(12);
    line-height: 1;
    text-align: center;
    padding-top: rem(10);
    @include mq("md") {
        margin-top: rem(4);
    }
}

.section-header__maintitle.section-header__maintitle--contact {
    font-size: rem(80);
}

.section-header__maintitle.section-header__maintitle--blog {
    @include mq("md") {
        color: $base;
    }
}

.section-header__maintitle.section-header__maintitle--blog span{
    @include mq("md") {
        color: $lightblue;
    }
}
