@use "global" as *;

.sp-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $black;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transform: translateX(100%);
    transition: ease .3s;
    margin-top: rem(80);
      @include mq("md") {
         display: none;
      }
}

.sp-nav__body {
    display: flex;
    gap: rem(7);
}

.sp-nav__left {
    padding-top: rem(24);
}

.sp-nav__right {
    padding-top: rem(24);
}

.sp-nav.is-active {
    transform: translateX(0);
}

.sp-nav__items {
    padding-top: rem(80);
    padding-bottom: rem(200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
    overscroll-behavior: none;
}

.sp-nav__logo {
    content: url(./assets/images/common/sp-nav.jpg);
}

.sp-nav__item a {
    display: block;
    width: 100%;
    padding-top: rem(15);
    padding-bottom: rem(15);
    text-align: center;
    color: $base;
    font-weight: $regular;
    font-size: rem(16);
    letter-spacing: rem(2);
}

/* アニメーション前のメニューの状態 */
.sp-nav{
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .sp-nav.is-active{
    pointer-events: auto;
    opacity: 1;
  }

 .sp-nav__scroll-container {
     /* メニュー内コンテナの高さを100vhに設定 */
      height: 100vh;
     /* スクロール可能にする */
     overflow-y: auto;
     /* オーバースクロールの挙動を無効にする（お好みで） */
     overscroll-behavior: none;
   }

